In [29]:
import pandas as pd
from pandas import DataFrame

In [30]:
product = {'Chips': ['Simba','Lays']}
            
df1 = pd.DataFrame(product,index=[1,2],dtype=object)
df1

   Chips
1  Simba
2   Lays

In [31]:
product = {'Cooldrinks': ['Coke','Fanta']}

df2 = pd.DataFrame(product,index=[1,2],dtype=object)
df2

  Cooldrinks
1       Coke
2      Fanta

In [32]:
product = {'Chocolates': ['Cadbury','Tex']} 

df3 = pd.DataFrame(product,index=[1,2],dtype=object)
df3

  Chocolates
1    Cadbury
2        Tex

In [33]:
product = {'Pies': ['Pepper Steak','Chicken']} 

df4 = pd.DataFrame(product,index=[1,2],dtype=object)
df4

           Pies
1  Pepper Steak
2       Chicken

In [34]:
product = {'Fruit': ['Pear','Apple','Orange']} 

df5 = pd.DataFrame(product,index=[1,2,3],dtype=object)
df5

    Fruit
1    Pear
2   Apple
3  Orange

In [35]:
product = {'Cupcakes': ['Vanilla','Chocolate']} 

df6 = pd.DataFrame(product,index=[1,2],dtype=object)
df6

    Cupcakes
1    Vanilla
2  Chocolate

In [36]:
product = {'Veggies': ['Spinach','Cabbage']} 

df7 = pd.DataFrame(product,index=[1,2],dtype=object)
df7

   Veggies
1  Spinach
2  Cabbage