In [13]:
import pandas as pd
from pandas import DataFrame

In [14]:
products = {'Product':['Chips','Cooldrinks','Chocolates',
                        'Pies','Fruit','Cupcakes','Veggies'],
            'Items': [['Simba','Lays'],['Coke','Fanta'],
            ['Cadbury','Tex'],['Pepper Steak','Chicken'],
            ['Pear','Apple','Orange'],['Vanilla','Chocolate'],
            ['Spinach','Cabbage']]}
            
df = pd.DataFrame(products,index=['a','b','c','d','e','f','g'],dtype=object)
df

      Product                    Items
a       Chips            [Simba, Lays]
b  Cooldrinks            [Coke, Fanta]
c  Chocolates           [Cadbury, Tex]
d        Pies  [Pepper Steak, Chicken]
e       Fruit    [Pear, Apple, Orange]
f    Cupcakes     [Vanilla, Chocolate]
g     Veggies       [Spinach, Cabbage]