In [27]:
import numpy as np
import pandas as pd
from pandas import DataFrame

In [29]:
products = {'Chips': ['Simba','Lays',np.nan],
          'Cooldrinks': ['Coke','Fanta',np.nan],
          'Chocolates': ['Cadbury','Tex',np.nan],
          'Pies': ['Pepper Steak','Chicken',np.nan],
          'Fruit': ['Pear','Apple','Orange'],
          'Cupcakes': ['Vanilla','Chocolate',np.nan],
          'Veggies': ['Spinach','Cabbage',np.nan]}
            
df = pd.DataFrame(products,index=[1,2,3],dtype=object)
df

   Chips Cooldrinks Chocolates          Pies   Fruit   Cupcakes  Veggies
1  Simba       Coke    Cadbury  Pepper Steak    Pear    Vanilla  Spinach
2   Lays      Fanta        Tex       Chicken   Apple  Chocolate  Cabbage
3    NaN        NaN        NaN           NaN  Orange        NaN      NaN